#game-board {
    width: 100% !important;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
}

.board-btn {
    font-family: 'Courier New', Courier, monospace !important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100% !important;
    aspect-ratio: 1/1;
    background: white;
    color: silver !important;
    font-weight: bolder;
    font-size: 5rem;
    font-style: normal;
    border: 1px dashed #ccc;
}

.board-btn:hover {
    opacity: 100%;
    cursor: pointer;
}

.board-btn:active {
    border: none !important;
}

.disabled {
    cursor: not-allowed !important;
}