#game-over {
  margin: 0 !important;
  padding: 0 !important;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 10;
  min-width: 100% !important;
  width: 100% !important;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../../public/brick-wall-texture_1194-5290.avif');
  animation: ending 2s linear;
}

#game-over h2 {
  font-family: 'Courier New', Courier;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: skyblue;
  color: white;
  margin: 0;
  border-radius: 4px;
  padding: 1rem;
  margin: 1rem;
  text-align-last: center;
  letter-spacing: 2px;
}

#game-over p {
  font-family: 'Courier New', Courier;
  text-align: center;
  color: skyblue;
  margin: 0;
  border-radius: 4px;
  padding: 1rem;
  margin: 1rem;
  text-align-last: center;
  overflow: hidden;
  white-space: nowrap;
  animation: running-message 2s infinite linear;
  background: whitesmoke;
  text-transform: uppercase;
  font-weight: bold;
  font-size: large;
  letter-spacing: 2px;
}

#game-over button {
  font-family: 'Courier New', Courier;
  display: block;
  font-weight: bold;
  background: springgreen;
  border: 2px solid white;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s, color 0.2s;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
  margin: 1rem;
}

#game-over button:hover {
  background: #101010;
  color: springgreen;
  transform: scale(1.2);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

#game-over button:active {
  transform: scale(1);
}

@keyframes running-message {
  0% {
    transform: translateX(10%);
  }

  50% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(10%);
  }
}

@keyframes ending {
  0% {
    opacity: 0%;
    transform: translateY(-100%);
  }

  100% {
    opacity: 100%;
    transform: translateY(0%);
  }
}