.player {
    font-family: 'Courier New', Courier, monospace !important;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

.player-symbol {
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    color: white;
    background: gold;
    clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%);
}

.player-name {
    width: 80% !important;
    margin: 0.2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #202020;
    color: white;
    font-weight: bold;
}

.edit-name-input {
    width: 80% !important;
    margin: 0.2rem 0;
    align-self: center;
    justify-self: center;
    cursor: text;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: white;
    color: black;
    border: 2px solid black;
    font-weight: bold;
    transform: translateY(0.2rem);
    border-radius: 4px;
}

.active {
    animation: active 2s infinite ease-in-out;
}

.edit-btn {
    width: 80% !important;
    margin: 0.2rem 0;
    cursor: pointer;
    font-family: 'Courier New', Courier;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none !important;
    font-weight: bold;
    background: white;
    border: none;
    text-decoration: 2px solid royalblue underline;
    text-underline-offset: 0.2rem;
    color: royalblue;
    border-radius: 2px;
    transition: all 0.2s, color 0.2s;
}

@keyframes active {
    0% {
        opacity: 100%;
        transform: translateY(0%);
    }

    50% {
        opacity: 80%;
        transform: translateY(20%);
    }

    100% {
        opacity: 100%;
        transform: translateY(0%);
    }
}