#main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

#players {
  background: whitesmoke;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: space-around;
  padding: 1rem 0 !important;
}